body {
  background: #eee;
  font-family: "Montserrat", sans-serif;
  padding: 2%; }
  body:hover {
    cursor: default; }

.share-shoot {
  width: 100%;
  position: relative; }
  .share-shoot__title {
    border-radius: 5px;
    box-shadow: 0 10px 0 #18a98b;
    z-index: 2;
    background: #1BBC9B;
    color: white;
    width: 10%;
    text-align: center;
    padding: 2%;
    font-size: 1.5em;
    transition: all ease 0.3s; }
    @media screen and (max-width: 520px) {
      .share-shoot__title {
        width: 20%;
        padding: 1%;
        font-size: 1em; } }
    .share-shoot__title:active {
      margin-top: 5px;
      box-shadow: 0 5px 0 #18a98b; }
    .share-shoot__title:hover {
      opacity: 0.9;
      cursor: pointer; }
  .share-shoot__icons {
    color: white;
    z-index: 1;
    display: none;
    opacity: 0;
    width: 20%;
    text-align: center;
    margin: 0 2%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 2em; }
    @media screen and (max-width: 520px) {
      .share-shoot__icons {
        margin: 0 1%;
        font-size: 0.9em; } }
    .share-shoot__icons a {
      color: inherit; }
    .share-shoot__icons li {
      display: inline;
      padding: 0 5%; }